/* You can add global styles to this file, and also import other style files */
    body {
  /* background: url('./assets/landinguser.jpeg') no-repeat center center fixed; */
  background: url('./assets/landinuser.jpeg') no-repeat center center fixed;
  background-size: 70% 100%;
  background-color: #040e55;
  background-blend-mode:lighten;
  margin: 0;
  
}


